:root{
  font-family: 'Lora', serif;
  font-size: 16px;
}

body{
  background-color:white;
  margin: 0;
  padding: 0;
}

.list-navbar{
  display: block;
  height: 52px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid black;
}

.list-navbar > li{
  float: left;
}

.list-navbar > li a { 
  display: block;
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 1rem;
}


.list-navbar > li a:hover{
  color: rgba(70, 70, 70, 0.378);
}

.about{
  margin: 10px;
  font-size: 24px;
}
